* {
    margin: 0;
    padding: 0;
}

body > main {
    background-image: url('img/js_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

body > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body > main > article {
    width: fit-content;
    height: 100px;
    margin: 10px;
    z-index: 2;
}

body > main > article > button {
    align-items: center;
    background-image: linear-gradient(144deg,#ecc13f,#f8ff2f);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #373737;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

body > main > article > button:active,
body > main > article > button:hover {
    outline: 0;
    background-image: linear-gradient(-144deg,#ecc13f,#f8ff2f);
    transition: 0.5s;
}

footer {
    position: fixed;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(-144deg,#ecc13f,#f8ff2f);
    bottom: 0;
    z-index: 5;
    text-align: center;
}

footer a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}